body {
	height: 1400px;
}

.mainsection a:link {
	color: blue;
}
.mainsection a:visited {
	color: purple;
}
.mainsection a:hover {
	color: red;
}

.mainsection h3 {
	font-size: 1.9em;
	font-family: "Amaranth", "Comic Sans", sans-serif;
	margin-top: 20px;
}

.mainsection p, .mainsection a {
	font-family: sans-serif;
}

.leftside {
	width: 46%;
	float: left;
	clear: left;
	margin-top: 10px;
	padding: 10px;
}

.rightside {
	width: 46%;
	float: right;
	margin-top: 10px;
	padding: 10px;
}

.listheader h4 {
	margin: 25px 0 5px 0;
}

ul {
	list-style-type: none;
}

#imagereferences li {
	margin-bottom: 8px;
}
#imagereferences p {
	margin: 0 0 0 0;
	text-indent: 20px;
}