/*

"Cheese" color palette:
	Black:	#2B2B2B
	Red:	#DD1B1B
	Gray:	#F6F6F6
	Yellow:	#EAE581

*/

body {
	width: 800px;
	height: 1000px; /* For testing sticky sidebar */
	background-color: #F6F6F6;
	margin: 0 auto; /* Center website */
}

h1, h2, h3, h4, h5 {
	font-family: Arial, Helvetica, sans-serif;
}

aside#empty { /* "Reserves" the space behind sidebar, to prevent other elements to jump in */
	width: 25%;
	height: 100%;
	background-color: #DD1B1B;
	float: left;
}

aside#sidebar {
	width: 100%;
}

footer {
	width: 100%;
	height: 40px;
	background-color: #2B2B2B;
	text-align: center;
	color: #F6F6F6;
	clear: both;
}

footer p {
	padding-top: 10px;
}

nav ul {
	list-style-type: none;
	padding-left: 20px;
}

#mainsection {
	width: 75%;
	height: 100%;
	background-color: #EAE581;
	float: right;
}

section.featured {
	width: 100%;
	height: 200px;
	text-align: center;
	border-bottom: 1px dashed black;
}

section.product-left {
	width: 45%;
	height: 200px;
	border: 1px dashed black;
	float: left;
	clear: left;
	margin: 10px;
}

section.product-right {
	width: 45%;
	height: 200px;
	border: 1px dashed black;
	float: right;
	margin: 10px;
}
