/*
Green color palette:
	Background:	#D8F1D3
	Main:		#BAD696
	Menu hover: #89C765
	Aside:		#9EBF6D
	Aside but: 	#84b140
	Xtra #1:	#BBE2BC
	Xtra #2:	#E4F1C3
*/

/* Font: Amaranth */
@import url(http://fonts.googleapis.com/css?family=Amaranth);
/* Font: Voltaire */
@import url(http://fonts.googleapis.com/css?family=Voltaire);

p {
	font-family: sans-serif;
}

aside, section, footer {
	/*
	The following is a fix that allows you to add padding and borders,
	without expanding the width/height of the parent.
	width + padding + border = actual visible/rendered width of box
	height + padding + border = actual visible/rendered height of box
	*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
	min-width: 1024px;
	max-width: 1280px;
	height: 1200px;
	background-color: #D8F1D3;
	margin: 0 auto; /* Center website */
}

body header img {
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
}

.empty { /* "Reserves" the space behind sidebar, to prevent other elements to jump in */
	height: 100%;
}

.center {
	text-align: center;
}

aside.empty {
	width: 25%;
	background-color: #9EBF6D;
	float: left;
}

aside.sidebar {
	margin-right: 0px;
	width: 100%;
}

nav.sidemenu {
	width: 100%;
}

nav.sidemenu ul {
	list-style-type: none;
	padding-left: 20px;
	line-height: 150%;
}

nav.sidemenu ul li {
	margin: 0px 20px 8px 0px;
	border: 1px solid black;
	border-radius: 4px;
	padding: 4px 0px 4px 0px;
	font-family: "Amaranth", Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 1.3em;
}

nav.sidemenu li {
	background-color: #9EBF6D;
}

nav.sidemenu ul li a {
	display: block;
	text-align: center;
}

section.empty {
	width: 75%;
	float: right;
	background-color: #BAD696;
}

section.mainsection {
	width: 100%;
	padding: 10px;
}

a:link, a:visited {
	color: #fff;
}

a:hover, a:active {
	color: #000;
}

.mainsection button {
	width: 140px;
	height: 30px;
	color: black;
	background-color: green;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	display: inline-block;
	padding: 2px 0 0 0;
	margin: 0 5px 0 5px;
	font-size: 1.1em;
	font-family: "Voltaire", sans-serif;
	font-weight: bold;
}

.mainsection button:hover {
	background-color: white;
	cursor: pointer;
}

a:link, a:visited {
	color: #fff;
}

a:hover, a:active {
	color: #000;
}


nav.productcategory ul li {
	position: relative;
	width: 50%;
	margin: 5px 20px 8px 0px;
	
	border-radius: 4px;
	padding: 4px 0px 4px 0px;
	font-family: "Amaranth", Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 80%;
	left: 25%;
}

footer {
	width: 100%;
	height: 40px;
	background-color: #2B2B2B;
	text-align: center;
	color: #F6F6F6;
	clear: both;
}

footer p {
	padding-top: 10px;
}

td {
	padding: 5px;
}

.shopping-cart {
	width: 600px;
	margin: 0 auto;
}

.shopping-form {
	width: 600px;
	margin: 50px auto;
}

#shopping-cart-table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid black;
	background-color: #9EBF6D;
}

#shopping-cart-table td {
    border-width: 1px 0; /*  1px top & bottom border,  0px left & right */
    border-color: #000;
    border-style: solid;
}

#shopping-cart-table img {
	max-width: 70px;
	max-height: 70px;
}

#sidebar-shoppingcart {
	color: white;
	font-size: 0.9em;
	text-align: center;
}

.name-column {
	width: 60%;
}

#display-message {
	font-style: italic;
}

#form-message {
	font-style: italic;
	color: red;
}

#form-message li {
	margin-left: 0px;
}

.redborder {
	border: 2px solid red;
}

div.block{
	overflow: hidden;
	margin-bottom: 10px;
}

div.block label{
	width: 200px;
	display: block;
	float: left;
	text-align: left;
}

div.block .input{
	margin-left: 4px;
	float: left;
}

span.mandatory {
	color: red;
}

#update-button {
	width: 100px;
	font-size: 1.2em;
}

#checkout-button {
	width: 100px;
	font-size: 1.2em;
	margin-top: 10px;
}