/* Font: Voltaire */
@import url(http://fonts.googleapis.com/css?family=Voltaire);

#imageandinfo img{
	display: inline-block;
	vertical-align: top;
	margin: 0 5% 0 5%;
}

#productinfo {
	display: inline-block;
	margin: 0 0 0 5%;
}

#productinfo h3 {
	font-family: "Voltaire", sans-serif;
	font-size: 3em;
	margin: 10px 0 10px 0;
}

#description {
	padding: 0 5% 0 5%;
	font-family: "Mrs Eaves", serif;
	margin: 0 0 10px 0;	
}