/* Font: Voltaire */
@import url(http://fonts.googleapis.com/css?family=Voltaire);

.product-button {
	width: 140px;
	height: 30px;
	background-color: green;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	display: inline-block;
	padding: 0px 0px 0px 0px;
	font-size: 1.1em;
	font-family: "Voltaire", sans-serif;
	font-weight: bold;
}

.product-button:hover{
	background-color: white;
	cursor: pointer;
}

.quote {
	font-style: italic;
}

#imageandinfo img{
	display: inline-block;
	vertical-align: top;
	margin: 0 5% 0 5%;
	max-height: 280px;
	width: 280px;
}

#productinfo {
	display: inline-block;
	margin: 0 0 0 5%;
	width: 35%;
}

#productinfo h3 {
	font-family: "Voltaire", sans-serif;
	font-size: 3em;
	margin: 10px 0 10px 0;
}

#productdetails {
	font-family: "Voltaire", sans-serif;
}

#productdetails div {
	display: inline-block;
	margin: 0 8% 0 0;
}

#description {
	padding: 0 5% 0 5%;
	font-family: "Mrs Eaves", serif;
	margin: 0 0 10px 0;
}

#firstline {
	font-weight: bold;
}
