/* Font: Voltaire */
@import url(http://fonts.googleapis.com/css?family=Voltaire);

.featured {
	width: 100%;
	height: 200px;
	text-align: center;
	border-bottom: 1px dashed black;
	padding: 10px;
}

.product-title {
	font-family: "Voltaire", sans-serif;
	font-size: 1.5em;
	margin-top: 10px;
}

.product-left {
	width: 46%;
	height: 200px;
	border: 1px dashed black;
	float: left;
	clear: left;
	margin-top: 10px;
	padding: 10px;
}

.product-right {
	width: 46%;
	height: 200px;
	border: 1px dashed black;
	float: right;
	margin-top: 10px;
	padding: 10px;
}

.product-image {
	max-width: 200px;
	max-height: 200px;
	float: left;
	margin-right: 10px;
}

.product-read-more {
	width: 140px;
	height: 30px;
	background-color: green;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	display: inline-block;
	padding-top: 10px;
}

a:hover .product-read-more {
	background-color: white;
}

#imageandinfo img{
	display: inline-block;
	vertical-align: top;
	margin: 0 5% 0 5%;
}

#productinfo {
	display: inline-block;
	margin: 0 0 0 5%;
}

#productinfo h3 {
	font-family: "Voltaire", sans-serif;
	font-size: 3em;
	margin: 10px 0 10px 0;
}

#description {
	padding: 0 5% 0 5%;
	font-family: "Mrs Eaves", serif;
	margin: 0 0 10px 0;
}

#firstline {
	font-weight: bold;
}
